



<hr>
<div>
  <h1 style="text-align:center ;">MARKALAR</h1>

  <div class="container">
    <div class="row">
       <div class="col-lg-3">
         <h5>BMW</h5>
         <img style="width:100%" src="https://www.bmw.com.tr/content/dam/bmw/common/all-models/m-series/m8-coupe/2022/onepager/bmw-m8-coupe-onepager-sp-desktop.jpg" alt="">
         <p>
       </div>
    
       <div class="col-lg-3">
         <h5>AUDİ</h5>
         <img style="width:100% ;" src="https://www.dogusoto.com.tr/Dosyalar/Model/Audi/galeri%20g%C3%B6rselleri/Yeni%20A3%20Sportback/a3-sportback-lansman-banner.jpg" alt="">
         <p>
       </div>
       <div class="col-lg-3">
        <h5>TOYOTA</h5>
        <img style="width:100%" src="https://kong-proxy-aws.toyota-europe.com/c1-images/resize/ccis/680x680/zip/tr/configurationtype/visual-for-grade-selector/product-token/24d97a8f-88be-4a66-891e-85f9cd482750/grade/547064d3-5139-4a57-bd93-374a116c5fb6/body/02dd77b8-85e3-43f9-bf89-6e4c5fdf067b/fallback/true/padding/50,50,50,50/image-quality/70/day-exterior-4_040.png" alt="">
        <p>
      </div>
      <div class="col-lg-3">
        <h5>FORD</h5>
        <img style="width:100%" src="https://www.tanoto.com.tr/storage/app/media//yeni-fiesta-tanoto.png" alt="">
        <p>
      </div>
      <div class="col-lg-3">
        <h5>MERCEDES</h5>
        <img style="width:100%" src="https://pladmin.mercedes-benz.com.tr/cdn/images/cls-fl---fiyat-listesi---gorsel.png" alt="">
        <p>
      </div>
      <div class="col-lg-3">
        <h5>RENAULT</h5>
        <img style="width:100%" src="https://www.tanoto.com.tr/storage/app/media//renault-clio.png" alt="">
        <p>
      </div>
      <div class="col-lg-3">
        <h5>SEAT</h5>
        <img style="width:100%" src="https://www.seat.com.tr/seatweb_files/2021714152819362_Yeni%20SEAT%20Ibiza.png" alt="">
        <p>
      </div>
      <div class="col-lg-3">
        <h5>FERRARİ</h5>
        <img style="width:100%" src="https://img.chip.com.tr/rcman/Cw1280h720q95gm/storage/files/images/2022/09/06/ferrari-calisanlarina-ferrari-almak-yasak-lva4.jpg" alt="">
        <p>
      </div>
    </div>
    </div>

    